/.idea/
*.pyc
.DS_Store
/log/
/app/
###############
#    folder   #
###############
/Result/
/mytest/
/Report/
/log/

###############
#     file    #
###############
*.png
*.pyc
*.log
*.xml
*.html
/.idea/
test*.py
